#root {
  
  width:100%;
  margin: 0;
  padding: 0;
  top: 0; 
  text-align: center;
}


.header-img{
  /* padding: 2rem; */
  height:100vh;
  width: 100%;
  background-image: url(../src/assets/Images/header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}